* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.main, .information, .testimonial, .action-call {
    padding: 125px 300px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 300px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.img-links div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-links p {
    font-weight: bold;
    font-size: 24px;
}

.img-links img {
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.left-content-block {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    
    display: inline-block;
    width: 125px;
    height: 50px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}

.right-content-block {
    width: 800px;
    height: 300px;
}

.right-content-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header, .main, .footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links, .main .text-secondary, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.main .text-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote {
    width: 1000px;
    display: flex;
    flex-direction: column;
}


.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: black;
    font-weight: bold;
    align-self: flex-end;
}

.action-container {
    display: flex;
    background-color: #3882F6;
    padding: 75px 150px;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-container .text-main {
    font-size: 24px;
}

.action-container .text-secondary {
    font-size: 18px;
}

.action-container button {
    border: solid white;
    
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 300px;
}